{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% static "libraries/jquery-1.12.4.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "libraries/bootstrap-3.3.6-dist/css/bootstrap.min.css" %}">
  <script src="{% static "libraries/bootstrap-3.3.6-dist/js/bootstrap.min.js" %}"></script>

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div id="content">
    <div id="topbar">
      <img src="{% static "css/images/logo.png" %}"/>
    </div>

    <div id="textbox" class="col-xs-push-1 col-xs-10 col-md-push-3 col-md-6">
      {% block content %}{% endblock %}
    </div>
  </div>

  <div id="bottombar">
    <a href={% url 'about' %}><button id="tab" type='button'>About</button></a>
    <a href={% url 'map' %}><button id="tab" type='button'>Game</button></a>
    <a href={% url 'team' %}><button id="tab" type='button'>Team</button></a>
    <a href={% url 'data' %}><button id="tab" type='button'>Data</button></a>
  </div>

  <div id="footer">Copyright MIGRATE 2016 © - <a id="mailto" href="mailto:candaneylul.kilsedar@polimi.it">Contact the webmaster</a></div>
  <!--<div id="acknowledgement" class="col-xs-push-1 col-xs-10 col-md-push-2 col-md-8 col-lg-push-3 col-lg-6">
    <p>This application has been developed within the MYGEOSS project, which has received funding from the European Union's Horizon 2020 research and innovation programme.
    The JRC, or as the case may be the European Commission, shall not be held liable for any direct or indirect, incidental, consequanetial or other damages,
    including but not limited to the loss of data, loss of profits, or any other financial loss arising from the use of this application, or inability to use it, even if the JRC is notified of the possibility of such damages.</p>
  </div>-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "css/registration_profile_ranking_download.css" %}">
</body>
</html>
