{% extends "base_registration_profile_ranking_download.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<!--{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
{% endif %}-->
<form action={% url 'login' %} method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <!-- <p><label for="id_username">Nickname:</label><input id="id_username" maxlength="30" name="username" type="text"/>
  <p><label for="id_password">Password:</label><input id="id_password" maxlength="128" name="password" type="password"/></p>-->

  <input id="login" type="submit" value="Log in"></input>
  <input type="hidden" name="next" value="{{ next }}" />

  <p id=register_redirect>Don&#39;t have an account? Click <a href={% url 'register' %}>here</a> to register.</p>
</form>
{% endblock %}
