{% extends "registration/base_register-login.html" %}
{% load staticfiles %}

{% block title %}Your Profile{% endblock %}
{% block content %}

	<h2>{{ request.user.username }}<h2>
	<p><b>Ranked score:</b> 
		{% if player.profile.avg_score %}
			{{ player.profile.avg_score }}
		{% else %}
			No score yet (You should <a href={% url 'map' %}>start playing</a> to initialize your score!)
		{% endif %}

	</p>
	<p><b>Gender:</b> {{ player.gender }}</p>
	<p><b>Country:</b> {{ player.country }}</p>
	<p><b>Age range:</b> {{ player.age }}</p>
	{% if request.user.email %}
		<p><b>e-mail:</b> {{ request.user.email }}</p>
	{% endif %}
	
{% endblock %}