{% extends "base_about_team_data_challenge.html" %}
{% load staticfiles %}

{% block title %}Challenge{% endblock %}

{% block content %}
<div class="row" id="about">
  <div class="col-xs-12">
    <p style="text-align: justify;">We are happy to announce the launch of the first MIGRATE challenge, which will allow you to get prizes while becoming informed about migration in Europe!</p>
    <p style="text-align: justify;">The challenge will be opened from <b>December 6, 2016</b> and will end after a month on <b>January 5, 2017</b>. Joining the challenge is very easy: you will need just to <a href={% url 'register' %}>create an account</a> and <a href={% url 'map' %}>play MIGRATE</a>!</p>
    <p style="text-align: justify;">At the end of the challenge, the top 10 players in the <a href={% url 'ranking' %}>user ranking</a> will be awarded with the following prizes:</p>
    <ul>
      <li>1<sup>st</sup> classified: 50€ Amazon voucher</li>
      <li>2<sup>nd</sup> classified: 35€ Amazon voucher</li>
      <li>3<sup>rd</sup> classified: 25€ Amazon voucher</li>
      <li>4<sup>th</sup> classified: 20€ Amazon voucher</li>
      <li>5<sup>th</sup> classified: 15€ Amazon voucher</li>
      <li>6<sup>th</sup> classified: 15€ Amazon voucher</li>
      <li>7<sup>th</sup> classified: 10€ Amazon voucher</li>
      <li>8<sup>th</sup> classified: 10€ Amazon voucher</li>
      <li>9<sup>th</sup> classified: 10€ Amazon voucher</li>
      <li>10<sup>th</sup> classified: 10€ Amazon voucher</li>
    </ul>
    <p style="text-align: justify;">How to become one of the top players? Your total score, which is also accessible from your <a href={% url 'profile' %}>user profile</a>, will depend both on the number of times you play the game and on the score of each game. The score of each game depends on the answers given to the 6 questions. More in detail, the score for each question depends on the time taken to answer the question and the weight of the question (more difficult questions give a higher score than easier ones).</p>
    <p style="text-align: justify;">As the <a href={% url 'register' %}>registration</a> to MIGRATE is totally anonymous, at the end of the challenge we will provide instructions to the top 10 players explaining how to contact us to receive the award. Amazon vouchers will be sent by the <b>February 15, 2017</b>. After analyzing the data from the games played by each user, the project responsible reserves the right not to award the prize to the user in case of actions considered to be unfair or malicious.</p>
  </div>
</div>
{% endblock %}
