{% extends "registration/base_registration_profile_ranking_download.html" %}
{% load staticfiles %}

{% block title %}Your Profile{% endblock %}
{% block content %}

	<div id="ranking_profile_logout">
		<b><a href={% url 'ranking' %}>Ranking</a> | <a href={% url 'logout' %}>Log out</a></b>
	</div>

  <div id="profile">
		<p id="username">{{ request.user.username }}<p>
		<p>
			<b>Ranked score:</b>
			{% if player.profile.avg_score != None %}
				{{ player.profile.avg_score }}
			{% else %}
				No score yet (You should <a href={% url 'map' %}>start playing</a> to initialize your score!)
			{% endif %}
		</p>
		<p><b>Gender:</b> {{ player.get_gender_display }}</p>
		<p><b>Country:</b> {{ player.country }}</p>
		<p><b>Age range:</b> {{ player.get_age_display }}</p>
		{% if request.user.email %}
			<p><b>e-mail:</b> {{ request.user.email }}</p>
		{% endif %}
  </div>

{% endblock %}
