{% extends "base_registration_profile_ranking_download.html" %}
{% load staticfiles %}

{% block title %}Your Profile{% endblock %}
{% block content %}
<div id="profile_logout">
	<b><!--<a href={% url 'ranking' %}>Ranking</a> | --><a href={% url 'logout' %}>Log out</a></b>
</div>

<div id="profile">
	<h2>{{ request.user.username }}</h2>
	<p>
		<b>Ranked score:</b>
    {{ player.profile.total_score|floatformat:2 }}
	</p>
	<p><b>Gender:</b> {{ player.get_gender_display }}</p>
	<p><b>Country:</b> {{ player.country }}</p>
	<p><b>Age range:</b> {{ player.get_age_display }}</p>
  {% comment "email is not asked (yet)" %}
	  {% if request.user.email %}
		  <p><b>Email:</b> {{ request.user.email }}</p>
	  {% endif %}
	{% endcomment %}
</div>
{% endblock %}
